<div>
  <div class="js-row" ng-class="showDetailsPan?'t_bg':''" ng-init="showDetailsPan=false;objDetSxpanded=true">
      <button class="btn btn-link btn-href glyphicon glyphicon-plus obj-add" ng-click="addNewProp(entity,$data)"></button>
      <span class="glyphicon t_color obj-exp" ng-class="objDetSxpanded?'glyphicon-triangle-bottom':'glyphicon-triangle-right'" ng-click="objDetSxpanded=!objDetSxpanded"></span>
      <span ng-hide="entity.$root$"><input class="model-key" type="text" ng-model="entity._key" />:</span> 
      <span model-type-selector></span>
      <span style="color:#9E9E9E;font-size:12px;">{<span>{{entity._properties.length}}</span>}</span>
      <div class="model-detail" ng-hide="showDetailsPan" ng-click="showDetailsPan=true"><span class="glyphicon glyphicon-pencil"></span></div>
      <div class="model-done" ng-show="showDetailsPan" ng-click="showDetailsPan=false"><span ._keyclass="glyphicon glyphicon-ok"></span></div>
      <div class="model-remove" ng-if="!entity.$root$"  ng-click="removeEntity(entity)"><span class="glyphicon glyphicon-remove"></span></div>
      <div class="model-summary">
          <span ng-show="entity._description" class="icon bj-playlist_add_check ico" uib-tooltip="Description present"></span>
          <span ng-if="!entity.$root$"><input type="checkbox" class="small" ng-model="entity._required"/>Required</span>
      </div>
  </div>
  <div class="model-det-cont" ng-show="showDetailsPan">
      <div class="col-xs-6" style="border-right:1px solid #9E9E9E">
          <div class="t_color bold">Basic Info</div>
          <div class="">
          <form class="form-horizontal form-compact model-detail-form" name="detailForm" role="form">
              <div class="form-group" ng-if="!entity.$root$">
                  <label class="control-label col-xs-2">Name:</label>
                  <div class="col-xs-9">
                      <input type="text" class="form-control sm detail-ip" id="foldName" placeholder="Field Name" ng-model="entity._key">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-xs-2">Description:</label>
                  <div class="col-xs-9">
                      <textarea class="form-control" ng-model="entity._description"></textarea>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-xs-2">Default:</label>
                  <div class="col-xs-9">
                      <input type="text" class="form-control sm detail-ip" ng-model="entity.default" />
                  </div>
              </div>
          </form>
          </div>
      </div>
      <div class="col-xs-6">
          <form class="form-inline model-detail-form" name="detailForm" role="form">
          <div class="t_color bold">Validations</div>
          <div ng-if="!entity.$root$">
              <div class="checkbox" style="padding: 2px 0;">
                  <label><input type="checkbox" ng-model="entity._required"> Required ?</label>
              </div>
          </div>
          <div>
              <div class="checkbox" style="padding: 2px 0;">
                  <label><input type="checkbox" ng-model="entity._disallowAdditional"> Disallow Additipnal Properties</label>
              </div>
          </div>
          <div class="form-group col-xs-12">
              <label class="model-label-x">minProperties:</label>
              <input type="number" class="form-control sm detail-ip" ng-model="entity._minProperties" min="0" placeholder=">=0" />
          </div>
          <div class="form-group col-xs-12">
              <label class="model-label-x">maxProperties:</label>
              <input type="number" class="form-control sm detail-ip" ng-model="entity._maxProperties" min="0" placeholder=">=0" />
          </div>
      </form>
              
      </div>
  </div>
  <div class="indent" ng-show="objDetSxpanded">
      <div ng-repeat="entity in entity._properties">
        <div ng-include="'json-schema-builder/templates/'+entity.type+'-schema.html'"></div>
      </div>
  </div>
</div>