.json-schema-builder 

  .dropdown-menu.model-type-selector
      width: 400px
      padding: 10px

  .model-type-selector-cont 
    .model-edit-x
      font-weight: bold
      position: absolute
      right: 8px
      top: 3px
      font-size: 13px
      cursor: pointer
    .title
      font-size: 16px
      font-weight: bold
      border-bottom: 1px solid rgba(0,0,0,0.3)

  .model-types, 
  .array-items
      padding: 5px 0

  .model-types 
    .btn.btn-link
      font-size: 14px
      margin: 2px 3px
      padding: 4px 10px 3px
      &.t_bg
        color: white

  .indent
    margin-left: 3.3rem
    position: relative

  .js-row 
    padding: .2rem 3rem .1rem
    position: relative
    &.t_bg 
      .btn.model-selector
        background: white
      .model-summary
        color: white
      .object-prop-count
        color: white
    &:hover
      background: #ECEFF1
      .obj-add
        background: #ECEFF1
      .model-remove
        display: block
      .model-detail
        opacity: 1
    .object-prop-count 
      color:#9E9E9E
      font-size:12px
    .model-remove
      color: #ff0000
      cursor: pointer
      position: absolute
      right: 3px
      top: 5px
      width: 18px
      height: 18px
      text-align: center
      line-height: 13px
      border-radius: 50%
      font-size: 12px
      display: none
      background: white
      padding-top: 2px
    .model-detail
      color: #2093EF
      cursor: pointer
      position: absolute
      right: 25px
      top: 3px
      width: 20px
      height: 20px
      text-align: center
      line-height: 23px
      font-size: 15px
    .model-done
      color: #2093EF
      cursor: pointer
      position: absolute
      right: 25px
      top: 3px
      width: 20px
      height: 20px
      text-align: center
      font-size: 15px
      background: #f5f5f5
      height: 24px
      width: 26px
    .model-summary
      position: absolute
      top: 2px
      right: 50px
      min-width: 5px
      min-height: 5px
      .ico
        font-size: 22px
      .comment
        top: -0.5rem
      &>span
        margin-right: 10px
        vertical-align: text-bottom


  .btn.model-selector 
    .caret
      display: none
    &:hover 
      .caret
        display: inline-block

  .obj-add
      position: absolute
      left: -3rem
      top: 2px

  .obj-exp
      position: absolute
      left: 1rem
      top: .8rem
      font-size: 12px
      cursor: pointer

  .array
      color: #009688 !important
      font-weight: bold

  .boolean
      color: #FF9800 !important
      font-weight: bold

  .integer, 
  .number
      color: #E91E63 !important
      font-weight: bold

  .null
      color: #F44336 !important
      font-weight: bold

  .string
      color: #9C27B0 !important
      font-weight: bold

  .object
      color: #2196f3 !important
      font-weight: bold

  .unspecified
      color: #9E9E9E
      font-weight: bold

  .model-det-cont
      background:#f5f5f5
      overflow:auto
      padding:10px
      box-shadow: 2px 2px 3px rgba(0,0,0,0.2)
      margin-bottom: 5px

  form
    &.model-detail-form 
      .control-label
        padding: 0 5px
      .detail-ip
        font-size: 13px
        background-color: white
        padding: 0 5px
        height: 25px
      select.detail-ip
        padding-right: 20px
      textarea
        font-size: 13px
        background: white
        padding: 0 5px

  input[type="checkbox"]
    &.small:after
      width: 12px
      height: 12px
      margin-top: -15px
    &.small:checked:before
      top: -14px
      left: 3px
      width: 6px
      height: 8px

  input
    &.model-key
      font-size: 14px
      height: 20px
      width: 30rem
      box-shadow: none
      border: 1px solid rgba(0,0,0,0.05)
      padding: 0 5px
      margin-right: 5px
    &.model-key:focus,
    &.model-key:active
      box-shadow: 0 0 8px rgba(0,0,0,0.1) inset
      outline: none
    &.model-key:hover
      border: 1px solid rgba(0,0,0,0.2)

  label.model-label-x
      width: 90px

  .form-compact.model-detail-form 
    .form-group
      margin-bottom: 5px
